.auth-container{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#f5f7fb;
}

.auth-card{
background:white;
padding:40px;
width:360px;
border-radius:12px;
box-shadow:0 10px 25px rgba(0,0,0,0.08);
text-align:center;
}

.auth-icon{
width:60px;
height:60px;
background:#eef2ff;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
margin:auto;
font-size:22px;
margin-bottom:20px;
}

.auth-card h2{
margin-bottom:5px;
}

.auth-subtitle{
color:#6b7280;
font-size:14px;
margin-bottom:25px;
}

.auth-card label{
display:block;
text-align:left;
font-size:14px;
margin-bottom:6px;
margin-top:12px;
}

.auth-card input{
width:100%;
padding:10px;
border:1px solid #d1d5db;
border-radius:6px;
margin-bottom:10px;
font-size:14px;
}

.auth-btn{
width:100%;
padding:12px;
background:#2563eb;
color:white;
border:none;
border-radius:8px;
margin-top:10px;
font-size:15px;
cursor:pointer;
}

.auth-btn:hover{
background:#1e40af;
}

.auth-switch{
margin-top:20px;
font-size:14px;
color:#6b7280;
}

.auth-switch span{
color:#2563eb;
cursor:pointer;
font-weight:500;
}